<div id = 'movie_list'>
  <div id = "movie_serach_list_jquery1">
    <h3 class = "movie_list_text1">ご案内</h3>
    <p>トークルームへようこそ！<br>
    ここは、皆さんの好きな映画について熱く語る場です。<br>
    好きなトークテーマを作り、または選んで、部屋で会話をしましょう！<br>
    部屋の中では、皆さんの会話が更に盛り上がる様に、投稿に反応して、
    話題を提供するアシスト機能がついています！<br>
    好きな映画について、トコトン熱く語り合いましょう！！</p>
  </div>
</div>
