<body class = "body_post">
  <div class = "wrap">

<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <p>タイトル</p>
  <span>
    <%= link_to post.title, post_path(post.id) %>
  </span>
<% end %>

<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
das<br>
br
dsad
dasd
dasd
dsadas
dsad
as
sa
<%= link_to "新規投稿", new_post_path, class:"..." %>



  </div>
</div>
