<body class = "body_post">
  <div class = "wrap">

    <h1 class = h1_post>トークテーマ一覧</h1>

<% if user_signed_in? %>
	<%= link_to "新しいトークテーマを作ろー！", new_post_path, class:"post_new_title" %>
<% end %>

<br>

<div class = "clearfix">
	<% @posts.each do |post| %>
		<p class = "kaiwa-text, clearfix">
			<div class = "kaiwa-text-not-user">
	    	<%= link_to post.title, post_path(post.id), class: "kaiwa_text" %>
	    </div>
	  </p>
  <% end %>
</div>

  </div>
<%= paginate @posts %>
</body>

