<body class = "body_post">
  <div class = "wrap">



    <div class ="post_new">
    <h2>新規投稿</h2>
<%= form_for (@post) do |post| %>
  <p class ="post_new_p">タイトル</p>
  <%= post.text_field :title, size: "50", class: "..." %>
  <%= post.submit "保存", class: "..." %>
<%= link_to "戻る", posts_path, class: "post_new_link" %>
<% end %>
    </div>


  </div>
</div>
