/*
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

nav{
  background-color: orange;
  padding: 0% 10%;
}

body.body_user_devise {
  background-image: url(/assets/photo-camera.jpg);
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	color: white;
}

body.body_user_devise:after {
  content: "";
  background: url(/assets/bg_alpha4.png) repeat center;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrap_user_devise {
  width: 80%;
  margin: 0 auto;
}

.user_devise{
	margin-top: 5%;
}

th {
  width: 10%;
}

td {
  padding: 2px 0px 2px 25px;
}

.movie_table{
  margin: 3% 0 3px 0;
}

























