/*
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

nav{
  background-color: orange;
  padding: 0% 10%;
}































.image_file{
	margin: 0 auto;
	padding: 0;
	float: left;
}
