// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories_link {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

.categories_link:hover {
  color: blue;
}