body.body_post {
  background-image: url(/assets/basketball.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

body.body_post:after {
  content: "";
  background: url(/assets/bg_alpha4.png) repeat center;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

